<article class="donation">
  <h2 class="visually-hidden">You can also make a donation</h2>
  <section class="donation__card">
    <h3 class="donation__card--title">You can also <br> make a donation</h3>
    <p class="donation__card--descrition">Name of the bank / Type of bank account</p>
    <button class="donation__card--button">8380 2880 8028 8791 7435</button>
    <small class="donation__card--warning">
      Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </small>
  </section>
</article>