<footer class="footer">
  <article class="footer__block">
    <h2 class="footer__title">For questions <br>and suggestions</h2>
    <section class="footer__section">
      <a class="footer__section--link" href="mailto:oleg.fontender@gmail.com">email@shelter.com</a>
      <a class="footer__section--link" href="">+13 674 567 75 54</a>
    </section>
  </article>
  <article class="footer__block">
    <h2 class="footer__title">We are waiting <br>for your visit</h2>
    <section class="footer__section">
      <a class="footer__section--link" href="">1 Central Street, Boston <br>(entrance from the store)</a>
      <a class="footer__section--link" href="">18 South Park, London</a>
    </section>
  </article>
</footer>