<header class="header">
  <nav class="nav">
    <div class="nav__container">
      <a class="nav__link" href="">Cozy House</a>
      <p class="nav__description">Shelter for pets in Boston</p>
    </div>
    <ul class="nav__list">
      <li class="nav__item user-here">
        <a href="">About the shelter</a>
      </li>
      <li class="nav__item">
        <a href="">Our pets</a>
      </li>
      <li class="nav__item">
        <a href="">Help the shelter</a>
      </li>
      <li class="nav__item">
        <a href="">Contacts</a>
      </li>
    </ul>
  </nav>
  <section class="header__card">
    <h1 class="header__card--title">Not only people<br>need a house</h1>
    <p class="header__card--description">
      We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
    </p>
    <button class="header__card--button">Make a friend</button>
  </section>
</header>