<section class="help">
  <h2 class="help__title">How you can help<br>our shelter</h2>
  <ul class="help__list">
    <li class="help__item">
      <div id="svg-1"></div>
      <p class="help__item--description">Pet food</p>
    </li>
    <li class="help__item">
      <div id="svg-2"></div>
      <p class="help__item--description">Transportaion</p>
    </li>
    <li class="help__item">
      <div id="svg-3"></div>
      <p class="help__item--description">Toys</p>
    </li>
    <li class="help__item">
      <div id="svg-4"></div>
      <p class="help__item--description">Bowls and cups</p>
    </li>
    <li class="help__item">
      <div id="svg-5"></div>
      <p class="help__item--description">Shampoos</p>
    </li>
    <li class="help__item">
      <div id="svg-6"></div>
      <p class="help__item--description">Vitamins</p>
    </li>
    <li class="help__item">
      <div id="svg-7"></div>
      <p class="help__item--description">Medicines</p>
    </li>
    <li class="help__item">
      <div id="svg-8"></div>
      <p class="help__item--description">Collaps / leashes</p>
    </li>
    <li class="help__item">
      <div id="svg-9"></div>
      <p class="help__item--description">Sleeping areas</p>
    </li>
  </ul>
</section>