<article class="pet">
  <h2 class="pet__title">Our friends who<br>are looking for a house</h2>
  <ul class="pet__slider">
    <li class="pet__slide">
      <div id="katrine"></div>
      <h3 class="pet__slide--title">Katrine</h3>
      <button class="pet__slide--button">Learn more</button>
    </li>
    <li class="pet__slide">
      <div id="jennifer"></div>
      <h3 class="pet__slide--title">Jennifer</h3>
      <button class="pet__slide--button">Learn more</button>
    </li>
    <li class="pet__slide">
      <div id="woody"></div>
      <h3 class="pet__slide--title">Woody</h3>
      <button class="pet__slide--button">Learn more</button>
    </li>
  </ul>
  <button class="pet__button">Get to know the rest</button>
</article>