.donation {
  display: flex;
  justify-content: end;
  height: 70vh;
  background: 
    url('/public/images/donation/donation-dog.png') no-repeat,
    rgba(246, 246, 246, 1);
  background-position: 27% center;
  &__card {
    display: grid;
    margin-top: 80px;
    margin-right: 18%;
    row-gap: 20px;
    width: 380px;
    height: 280px ;

    &--button {
      padding-inline: 60px 20px;
      font-size: 20px;
      border-radius: 9px;
    }

    &--warning {
      display: block;
      color: rgba(178, 178, 178, 1);
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media (max-width: 1360px) {
  .donation__card--warning {
    color: black;
  }
}

@media (max-width: 768px) {
  .donation {
    height: 90vh;
    background-position: bottom;
    &__card {
      margin-left: 18%;
      &--warning {
        color: rgba(178, 178, 178, 1);
      }
    }
  }
}

@media (max-width: 475px) {
  .donation {
    height: 88vh;
    background-size: 90%;
    &__card {
      margin-inline: auto;
      text-align: center;
      &--title {
        text-align: center;
      }
      &--button {
        margin-inline: auto;
        font-size: 15px;
      }
    }
  }
}