.pet{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 60px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(246, 246, 246, 1);
  &__title {
    margin-top: 40px;
    font-size: 35px;
  }
  &__slider {
    display: flex;
    text-align: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-inline: auto;
    width: 70vw;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 9px;
    
  }
  &__slide {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 70vw;
    // min-height: 70vh;
    scroll-snap-align: start;
    &--button {
      margin-inline: auto;
      margin-bottom: 25px;
      background-color: transparent;
      border: 2px solid rgba(241, 205, 179, 1);
    }
  }

  &__button {
    margin-inline: auto;
  }
}